.DS_Store
node_modules
/build
/.svelte-kit
/package
/dist
.env
.env.*
!.env.example

prettier-plugin-svelte-browser.js
tailwind-playground.js

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
