{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 80,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{ "files": "*.svelte", "options": { "parser": "svelte" } },
		{ "files": "template.svelte", "options": { "printWidth": 60 } },
		{ "files": "src/lib/themes/*.js", "options": { "printWidth": 200 } }
	],
	"svelteSortOrder": "options-scripts-markup-styles",
	"svelteIndentScriptAndStyle": false
}
