:root {
	--colibri-background-color: white;
	--colibri-primary-color: #03b2dd;
	--colibri-primary-color-light: #0fcdfc;
	--colibri-primary-color-dark: #0397bc;
	--colibri-secondary-color: #eb3d72;
	--colibri-secondary-color-light: #ee5a87;
	--colibri-secondary-color-dark: #e41856;

	--colibri-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

	--colibri-border-radius: 0.25rem;
	--colibri-border-radius-lg: 0.5rem;

	--colibri-font-size-lg: 1.125rem;

	--colibri-button-primary-font-color: white;
	--colibri-button-secondary-font-color: white;
	--colibri-button-vertical-padding: 0.5rem;
	--colibri-button-horizontal-padding: 1rem;
	--colibri-button-disabled-opacity: 0.6;
	--colibri-button-disabled-filter: grayscale(20%);

	--colibri-modal-overlay-color: rgba(0, 0, 0, 0.4);
	--colibri-modal-margin-top: 2.5rem;
	--colibri-modal-margin-top-large-screens: 5rem;
	--colibri-modal-padding: 0 0.75rem 1rem;
	--colibri-modal-width: 80%;
	--colibri-modal-max-width: 800px;
	--colibri-modal-width-slim: 500px;
	--colibri-modal-max-width-slim: 90%;
	--colibri-modal-max-width-fit: 90%;
}

@keyframes colibri-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.colibri-spinner {
	width: 1.5rem;
	height: 1.5rem;
	border: 3px solid currentColor;
	border-top: 3px solid transparent;
	border-radius: 9999px;
	animation: colibri-spin 1.5s linear infinite;
}

.colibri-hidden {
	opacity: 0;
}

.colibri-chevron {
	display: inline-block;
	width: 0.8rem;
	height: 0.8rem;
	border-right: 4px solid currentColor;
	border-bottom: 4px solid currentColor;
}

.colibri-chevron-down {
	transform: translateY(-2px) rotate(45deg);
}

.colibri-chevron-up {
	transform: translateY(4px) rotate(-135deg);
}

.cell-1 {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
}
